.main{}
.first{
    background-color: rgb(48, 1, 1);
    height: 100px;
    width: 100%;
}
.second{
    background-color: rgb(249, 114, 11);
    height: 15px;
    width: 100%;
}
.third{
    background-color: rgb(91, 85, 81);
    height: 3900px;
    width: 100%;
}
.fouth{
    background-color: rgb(6, 6, 6);
    height: 400px;
    width: 100%;
}
.front{
    color: white;
    font-family: Arial Unicode MS;
    position: absolute;
    left: 50PX;
    font-size: 50px;
}
.master{
    color: rgb(239, 11, 11);
    font-size: x-large;
    font-family: Brush Script MT;
    position: absolute;
    top: -20PX;
    left: 250PX;
    font-size: 80px;
} 
.list{
    color: white;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    padding: 60px;
    padding-left: 700px;

}
.list li{
    color: white;
    list-style-type: none;
    text-decoration: none;
    padding: 5px;
  
}
.list li a{
    color: white;
    list-style-type: none;
    text-decoration: none;
    padding: 30px; 
}
.list li a :hover{
    color: white;
    text-decoration: none;
    font-size: larger;
}
.log{
    background-color: red;
    color: white;
    height: 40px;
    width: 90px;
    position: absolute;
    left: 82%;
    top: 70px;
    border-radius: 30px;
}
.pics{
    width: 250px;
    height: 150px;
    justify-content: center;
    margin-left: 540px;
}
.path{
    color: white;
    font-size: 20px;
    font-family:Bahnschrift Light;
    position: absolute;
    top: 330px;
    left: 30%;
}
.learn{
    color: white;
    font-size: 60px;
    font-family:Bahnschrift Light;
    position: absolute;
    left: 35%;
    top: 230px;
}.cards{
    display: flex;
    align-items: center;   
}
.bright{
    background-color: rgb(61, 56, 56);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 400px;
    left: 15%;
}
.brights{
    background-color: rgb(61, 56, 56);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 400px;
    left: 40%;
}
.brightz{
    background-color: rgb(61, 56, 56);
    width: 300px;
    height: 500px;
    position: absolute;
    top: 400px;
    left: 65%;
}
.circle{
    display: flex;
}
.one{
     /* background-color: rgb(161, 17, 17);  */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 420px;
    left: 67%;
    border: 20px grey solid;

}
.two{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   position: absolute;
   top: 420px;
   left: 42%;
   border: 20px grey solid;
}
.three{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   position: absolute;
   top: 420px;
   left: 17%;
   border: 20px grey solid;
}
#me{
    font-size: 100px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: -50px;
    left: 20%;

}
 #we{
    font-size: 100px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: -50px;
    left: 20%;

}
#you{
    font-size: 100px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: -50px;
    left: 20%;

} 
.beg{
color: white;
position: absolute;
top: 270px;
left: 28%;
font-size: 30px;
}
.pick{
color: white;
position: absolute;
top: 330px;
left: 15%;
font-size:20px ;
}
.more{
color: white;
background-color: red;
width: 120px;
height: 30px;
border-radius: 20px;
position: absolute;
top: 420px;
left: 28%;
border: 0px;
}
.begs{
    color: white;
    position: absolute;
    top: 270px;
    left: 28%;
    font-size: 30px;
    }
    .picks{
    color: white;
    position: absolute;
    top: 320px;
    left: 15%;
    font-size:20px ;
    }
    .mores{
    color: white;
    background-color: red;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    top: 420px;
    left: 28%;
    border: 0px;
    }

/* second list cards */
    .card{
        display: flex;
        align-items: center;
        
    
    }
    .good_one{
        background-color: rgb(61, 56, 56);
        width: 300px;
        height: 500px;
        position: absolute;
        top: 950px;
        left: 15%;
    }
    .good_two{
        background-color: rgb(61, 56, 56);
        width: 300px;
        height: 500px;
        position: absolute;
        top: 950px;
        left: 40%;
    }
    .good_three{
        background-color: rgb(61, 56, 56);
        width: 300px;
        height: 500px;
        position: absolute;
        top: 950px;
        left: 65%;
    }
    .circles{
        display: flex;
    }
    .ones{
         /* background-color: rgb(161, 17, 17);  */
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        top: 970px;
        left: 67%;
        border: 20px grey solid;
    
    }
    .twos{
       width: 200px;
       height: 200px;
       border-radius: 50%;
       position: absolute;
       top: 970px;
       left: 42%;
       border: 20px grey solid;
    }
    .threes{
       width: 200px;
       height: 200px;
       border-radius: 50%;
       position: absolute;
       top: 970px;
       left: 17%;
       border: 20px grey solid;
    }
    #mez{
        font-size: 100px;
        font-weight: bold;
        color: white;
        position: absolute;
        top:-70px;
        left: 20%;
    
    }
     #wez{
        font-size: 100px;
        font-weight: bold;
        color: white;
        position: absolute;
        top: -70px;
        left: 20%;
    
    }
    #youz{
        font-size: 100px;
        font-weight: bold;
        color: white;
        position: absolute;
        top: -70px;
        left: 20%;
    
    } 
   
    /* second card copy */
    .cardz{
        display: flex;
        align-items: center;
        
    
    }
    .gooda{
        background-color: rgb(61, 56, 56);
        width: 300px;
        height: 500px;
        position: absolute;
        top: 1900px;
        left: 15%;
    }
    .goodb{
        background-color: rgb(61, 56, 56);
        width: 300px;
        height: 500px;
        position: absolute;
        top: 1900px;
        left: 40%;
    }
    .goodc{
        background-color: rgb(61, 56, 56);
        width: 300px;
        height: 500px;
        position: absolute;
        top: 1900px;
        left: 65%;
    }
    .circlex{
        display: flex;
    }
    .onex{
         /* background-color: rgb(161, 17, 17);  */
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        top: 1920px;
        left: 67%;
        border: 20px grey solid;
    
    }
    .twox{
       width: 200px;
       height: 200px;
       border-radius: 50%;
       position: absolute;
       top: 1920px;
       left: 42%;
       border: 20px grey solid;
    }
    .threex{
       width: 200px;
       height: 200px;
       border-radius: 50%;
       position: absolute;
       top: 1920px;
       left: 17%;
       border: 20px grey solid;
    }
    #mex{
        font-size: 100px;
        font-weight: bold;
        color: white;
        position: absolute;
        top:-70px;
        left: 20%;
    
    }
     #wex{
        font-size: 100px;
        font-weight: bold;
        color: white;
        position: absolute;
        top: -70px;
        left: 20%;
    
    }
    #youx{
        font-size: 100px;
        font-weight: bold;
        color: white;
        position: absolute;
        top: -70px;
        left: 20%;
    
    } 
    
    .more1{
        color: white;
        background-color:#068399;
        width: 120px;
        height: 30px;
        border-radius: 20px;
        position: absolute;
        top: 430px;
        left: 28%;
        border: 0px;
    }
    .more2{
        color: white;
        background-color:#069943;
        width: 120px;
        height: 30px;
        border-radius: 20px;
        position: absolute;
        top: 430px;
        left: 28%;
        border: 0px;
    }
    .more3{
        color: white;
        background-color: rgb(67, 167, 153);
        width: 120px;
        height: 30px;
        border-radius: 20px;
        position: absolute;
        top: 430px;
        left: 28%;
        border: 0px;
    }
    .more4{
        color: white;
        background-color:#ceb007;
        width: 120px;
        height: 30px;
        border-radius: 20px;
        position: absolute;
        top: 430px;
        left: 28%;
        border: 0px;
    }
    .more5{
        color: white;
        background-color:#d31515;
        width: 120px;
        height: 30px;
        border-radius: 20px;
        position: absolute;
        top: 430px;
        left: 28%;
        border: 0px;
    }
    .more6{
        color: white;
        background-color: rgb(51, 127, 189);
        width: 120px;
        height: 30px;
        border-radius: 20px;
        position: absolute;
        top: 430px;
        left: 28%;
        border: 0px;
    }
   .more7{
        color: white;
        background-color:#07a121;
        width: 120px;
        height: 30px;
        border-radius: 20px;
        position: absolute;
        top: 430px;
        left: 28%;
        border: 0px;
    }
    .more8{
        color: white;
        background-color:#2e82c7;
        width: 120px;
        height: 30px;
        border-radius: 20px;
        position: absolute;
        top: 430px;
        left: 28%;
        border: 0px;
    }
    .more9{
        color: white;
        background-color:#b8384d ;
        width: 120px;
        height: 30px;
        border-radius: 20px;
        position: absolute;
        top: 430px;
        left: 28%;
        border: 0px;
    }
    .more10{
        color: white;
        background-color:#185b99;
        width: 120px;
        height: 30px;
        border-radius: 20px;
        position: absolute;
        top: 430px;
        left: 28%;
        border: 0px;
    }
    .more11{
        color: white;
        background-color:#6b0736;
        width: 120px;
        height: 30px;
        border-radius: 20px;
        position: absolute;
        top: 430px;
        left: 28%;
        border: 0px;
    }
    /* forth card */
    .cardzs{
        display: flex;
        align-items: center;
        
    
    }
    .goodas{
        background-color: rgb(61, 56, 56);
        width: 300px;
        height: 500px;
        position: absolute;
        top: 2450px;
        left: 15%;
    }
    .goodbs{
        background-color: rgb(61, 56, 56);
        width: 300px;
        height: 500px;
        position: absolute;
        top: 2450px;
        left: 40%;
    }
    .goodcs{
        background-color: rgb(61, 56, 56);
        width: 300px;
        height: 500px;
        position: absolute;
        top: 2450px;
        left: 65%;
    }
    .circlexs{
        display: flex;
    }
    .onexs{
         /* background-color: rgb(161, 17, 17);  */
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        top: 2499px;
        left: 67%;
        border: 20px grey solid;
    
    }
    .twoxs{
       width: 200px;
       height: 200px;
       border-radius: 50%;
       position: absolute;
       top: 2499px;
       left: 42%;
       border: 20px grey solid;
    }
    .threexs{
       width: 200px;
       height: 200px;
       border-radius: 50%;
       position: absolute;
       top: 2499px;
       left: 17%;
       border: 20px grey solid;
    }
    #mexs{
        font-size: 100px;
        font-weight: bold;
        color: white;
        position: absolute;
        top:-70px;
        left: 20%;
    
    }
     #wexs{
        font-size: 100px;
        font-weight: bold;
        color: white;
        position: absolute;
        top: -70px;
        left: 20%;
    
    }
    #youxs{
        font-size: 100px;
        font-weight: bold;
        color: white;
        position: absolute;
        top: -70px;
        left: 20%;
    
    } 
    .beginsz{
    color: white;
    position: absolute;
    top: 300px;
    left: 28%;
    font-size: 30px;
    }
    .passesz{
    color: white;
    position: absolute;
    top: 400px;
    left: 15%;
    font-size:20px ;
    }
    .more12{
    color: white;
    background-color: green;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    top: 430px;
    left: 28%;
    }
    /* fifth card */
    .cardzsz{
        display: flex;
        align-items: center;
        
    
    }
    .goodasz{
        background-color: rgb(61, 56, 56);
        width: 300px;
        height: 500px;
        position: absolute;
        top: 2980px;
        left: 15%;
    }
    .goodbsz{
        background-color: rgb(61, 56, 56);
        width: 300px;
        height: 500px;
        position: absolute;
        top: 2980px;
        left: 40%;
    }
    .goodcsz{
        background-color: rgb(61, 56, 56);
        width: 300px;
        height: 500px;
        position: absolute;
        top: 2980px;
        left: 65%;
    }
    .circlexsz{
        display: flex;
    }
    .onexsz{
         /* background-color: rgb(161, 17, 17);  */
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        top: 2999px;
        left: 67%;
        border: 20px grey solid;
    
    }
    
    .twoxsz{
       width: 200px;
       height: 200px;
       border-radius: 50%;
       position: absolute;
       top: 2999px;
       left: 42%;
       border: 20px grey solid;
    }
     .threexsz{
       width: 200px;
       height: 200px;
       border-radius: 50%;
       position: absolute;
       top: 2999px;
       left: 17%;
       border: 20px grey solid;
    } 
    #mexsz{
        font-size: 100px;
        font-weight: bold;
        color: white;
        position: absolute;
        top:-70px;
        left: 20%;
    
    }
     #wexsz{
        font-size: 100px;
        font-weight: bold;
        color: white;
        position: absolute;
        top: -70px;
        left: 20%;
    
    }
    #youxsz{
        font-size: 100px;
        font-weight: bold;
        color: white;
        position: absolute;
        top: -70px;
        left: 20%;
    
    } 
    .beginsz{
    color: white;
    position: absolute;
    top: 300px;
    left: 28%;
    font-size: 30px;
    }
    .passesz{
    color: white;
    position: absolute;
    top: 400px;
    left: 15%;
    font-size:20px ;
    }
    .takesz{
    color: white;
    background-color: red;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    top: 500px;
    left: 28%;
    }
    /* sixth card */
    .cardzszs{
        display: flex;
        align-items: center;
        
    
    }
    .goodaszs{
        background-color: rgb(61, 56, 56);
        width: 300px;
        height: 500px;
        position: absolute;
        top: 3500px;
        left: 15%;
    }
    .goodbszs{
        background-color: rgb(61, 56, 56);
        width: 300px;
        height: 500px;
        position: absolute;
        top: 3500px;
        left: 40%;
    }
    .goodcszs{
        background-color: rgb(61, 56, 56);
        width: 300px;
        height: 500px;
        position: absolute;
        top: 3500px;
        left: 65%;
    }
    .circlexszs{
        display: flex;
    }
    .onexszs{
         /* background-color: rgb(161, 17, 17);  */
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        top: 3530px;
        left: 67%;
        border: 20px grey solid;
    
    }
    .twoxszs{
       width: 200px;
       height: 200px;
       border-radius: 50%;
       position: absolute;
       top: 3530px;
       left: 42%;
       border: 20px grey solid;
    }
    .threexszs{
       width: 200px;
       height: 200px;
       border-radius: 50%;
       position: absolute;
       top: 3530px;
       left: 17%;
       border: 20px grey solid;
    }
    #mexszs{
        font-size: 100px;
        font-weight: bold;
        color: white;
        position: absolute;
        top:-70px;
        left: 20%;
    
    }
     #wexszs{
        font-size: 100px;
        font-weight: bold;
        color: white;
        position: absolute;
        top: -70px;
        left: 20%;
    
    }
    #youxszs{
        font-size: 100px;
        font-weight: bold;
        color: white;
        position: absolute;
        top: -70px;
        left: 20%;
    
    } 
    .beginsz{
    color: white;
    position: absolute;
    top: 270px;
    left: 28%;
    font-size: 30px;
    }
    .passesz{
    color: white;
    position: absolute;
    top: 330px;
    left: 15%;
    font-size:20px ;
    }
    .takesz{
    color: white;
    background-color: red;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    top: 420px;
    left: 28%;
    }
    /* fourth div */
    .fourth{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(8, 8, 8);
        width: 100%;
        height: 350px;

        
    }
    .part2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:none;
        margin-right: 580px;
        margin-left: 490px;
        margin-top: 20px;
        
    }
    
    .pp1{
        display: flex;
        flex-direction: row;
        margin-right: 950px;
    }
    .FRONTS{
        color: white;
        font-size: 30px;
        font-family:Bahnschrift Light;
        position: absolute;
        top: 4040px;
        left: 2%;
    }
    .MASTERS{
    color: rgb(247, 3, 3);
    font-size: 60px;
    font-family:Brush Script MT ;
    position: absolute;
    top: 4000px;
    left:13%;
    
    }
    .links{
    display: flex;
    list-style-type: none;
    justify-content: right;
    text-decoration: none;
    color: white;
    position: absolute;
    top: 4100px;
    left: 48%;
    }
    .links li {
    color: white;
    text-decoration: none;
    }
    .links li a {
        color: white;
        padding: 10px;
        text-decoration: none;
        
        }
        .links li a :hover{
            font-size: large;
        }
        
        
        .twitter{
            width: 30px;
            height: 30px;
         margin-left:8px;
            
        }
        .linkedin{
            width: 30px;
            height: 30px;
           margin-left: 8px;
        }
        .instagram{
            width: 30px;
            height: 30px;
            margin-left:8px;
        }
        .top{
            width: 260px;
            height: 250px;
            top: 1500px;
            position:absolute;
            left:550px;
        }
        .made{
       color: lightgray;
       position: absolute;
       top: 4400px;
       left: 3%;
        }
        .mn{
            color: lightgray;
            position: absolute;
            top: 4400px;
            left: 67%;
            
        }
        .support{
       color: rgb(231, 41, 7);
       position: absolute;
       top: 4360px;
       left: 68%;
        }
        .post{
            display: flex;
            list-style-type: none;
            text-decoration: none;
            position: absolute;
            top: 4300px;
            left: 40px;
        }
        .post li{
            padding: 20px;
        }
        .level{
            display: flex;
            list-style-type: none;
            text-decoration: none;
            position: absolute;
            top: 4200px;
            left: 30px;
        }
        .level li{
            padding: 20px;
        }
        .play{
            width: 95px;
            height: 45px;
          margin-left: 8px;
           
        }
